apiVersion: v1
kind: Secret
metadata:
  name: myregistrykey
type: kubernetes.io/dockercfg
data: 
  .dockercfg: ewoJImF1dGhzIjogewoJCSJodHRwczovL2djci5pbyI6IHsKCQkJImF1dGgiOiAiWDNSdmEyVnVPbmxoTWprdVpuZEpaMXBrYWxOc1pWOHdNelUxV0Zwbk1HcFNMVGRZTUdNd1FsVmZRemhCU1RsRFNHaHlWM2xmUldKM1gxSlRUa1ZDYUV4VE9YQmpkM2RHYkdkUlJuRlBhMDg9IiwKCQkJImVtYWlsIjogImdhbXphYmF3QGdtYWlsLmNvbSIKCQl9Cgl9Cn0=